In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
df=pd.read_csv('Attendance.csv')
df.head()

    Name      Time
0  BIBEK  22:47:11
1  BIBEK  22:47:14
2  BIBEK  22:47:14
3  BIBEK  22:47:14
4  BIBEK  22:47:15

In [3]:
ar=df['Name'].unique()
print("Present Students are:")
print(ar)

Present Students are:
['BIBEK']

<image src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fslworkshop.net%2Fwp-content%2Fuploads%2F2015%2F04%2Fthank-you-wordle.jpg&f=1&nofb=1">

<image src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fslworkshop.net%2Fwp-content%2Fuploads%2F2015%2F04%2Fthank-you-wordle.jpg&f=1&nofb=1">

<img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fslworkshop.net%2Fwp-content%2Fuploads%2F2015%2F04%2Fthank-you-wordle.jpg&f=1&nofb=1">